/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject
/nbproject/*
/web/bundles/framework/*
/web/bundles/dsl/*
/web/bundles/DSLBundle/*
!/web/bundles/DSLBundle/css
/nbproject0/
/nbproject0/*
