{% extends 'base_logged.html.twig' %}

{% block content %}
    <div class="container content">
        <div class="row pb-4">
            <div class="col-lg-12 text-center">
                <span class='content-header'>Propozycja diety</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <span> Poniżej została wygenerowana dla ciebie dieta. Sprawdź czy ci się podoba, poustawiaj dni według
                    własnej kolejności i potwierdź. Klikając w posiłek podejrzysz jego szczegóły a najeżdżając na dzień,
                    wyświetlisz dzienne podsumowanie.</span>
            </div>
        </div>

        {{ include('createddiet/block/diet.html.twig') }}

        <div class="row py-4 text-center">
            <div class="col-lg-3 offset-lg-3">
                <div id="save-diet" class="button button-center">Jest ok, zapisujemy</div>
            </div>
            <div class="col-lg-3">
                <div id="refresh-diet" class="button button-center">Spróbujmy inną</div>
            </div>
        </div>
    </div>
{% endblock content %}