{% extends 'base_logged.html.twig' %}

{% block content %}
    <div class="container content">
        <div class="row pb-4">
            <div class="col-lg-12 text-center">
                <span class='content-header'>Stworzona dieta</span>
            </div>
        </div>
        {% include 'createddiet/block/actions.html.twig' %}
        {% include 'createddiet/block/statistics.html.twig' %}
        {% include 'createddiet/block/diet.html.twig' %}
    </div>
{% endblock content %}
