<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DSL Generator{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/DSLBundle/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
{#        <img src="{{asset('bundles/DSLBundle/img/still-life-646622_1920.jpg')}}" alt='texr' class='bodyImg'>#}
    {% block body %}{% endblock %}
    {% block javascripts %}
        {#        {% javascripts '@DSLBundle/Resources/public/js/*' %}#}
        {#    <script src="{{ asset_url }}"></script>#}
        {#        {% endjavascripts %}#}
    {% endblock %}
</body>
</html>
