<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DSL Generator{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/DSLBundle/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id='container'>
            {% block body %}
                {% block header %}
                    <div>
                        <ul class='menu-header'>
                            <li class='menu-header-options'>Profil</li>
                            <li class='menu-header-options'>Historia</li>
                            <li class='menu-header-options'>Stwórz dietę!</li>
                            <li class='menu-header-options'>o mnie</li>
                        </ul>
                    </div>
                {% endblock header %}

                <div id='content'>
                {% block content %}{% endblock content %}
            </div>

            {% block footer %}
                <div class="footer">
                    <div class="line"></div>
                    <div>Diet & Shopping List Generator</div>
                    <div>Michał Wiązek</div>
                </div>
            {% endblock footer%}
        {% endblock %}
    </div>
    {% block javascripts %}
        {#        {% javascripts '@DSLBundle/Resources/public/js/*' %}#}
        {#    <script src="{{ asset_url }}"></script>#}
        {#        {% endjavascripts %}#}
    {% endblock %}
</body>
</html>
