<div class="table-responsive pb-5">
    <table class="table table-sm">
        <tr class="table-row shopping-list-tr-title">
            <th colspan="11">{{ title }}</th>
            <th colspan="1" class="text-right pr-5">
                <a href="{{ path('generate_pdf_shopping_list', {'id': diet_rule_id, 'week': week }) }}" target="_blank">
                    <i class="fa fa-arrow-circle-down pr-3" aria-hidden="true"></i>
                </a>
            </th>
        </tr>
        {% set counter = 1 %}

        {%for ingredient in ingredients %}
            {% if counter is same as(1) %}
                <tr class="table-row">
            {% endif %}
                <td colspan="1">{{ingredient.ProductCount}}</td>
                <td colspan="2">{{ingredient.ProductName}}</td>
            {% if counter is same as(4) %}
                </tr>
            {% endif %}
            {% set counter = counter + 1 %}
            {% if counter is same as(5) %}
                {% set counter = 1%}    
            {% endif %}
        {% endfor %}
    </table>    
</div>
