{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href ="/login">
            <div class="homepage-divs">
                ZALOGUJ
            </div>
        </a>
        <a href="/register">
            <div class="homepage-divs">
                ZAREJESTRUJ   
            </div>
        </a>
        <div class='clearness'></div>
    </div>
    <style>
{% endblock %}


