{% extends "base_logged.html.twig"%}


{% block content %}
    <div class="container content text-justify">
        <div class="row py-3">
            <div class="col-lg-12">
                TABELA ZALECANYCH I ODRADZANYCH PRODUKTÓW PRZY DIECIE REDUKCYJNEJ
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <th>TAK</th>
                        <th>NIE</th>
                    </tr>
                    <tr>
                        <td>PIECZYWO: razowe, żytnie, graham, orkisz,ryż 
                        biały lub brązowy, kasza (gryczana jaglana jęczmienna,
                        pęczak itd.), Płatki owsiane, jaglane, kukuydziane</td>
                        <td>makarony, pierogi, kluski, naleśniki oraz fastfoody:
                        pizza, ziemniaki, pieczywo przenne, tostowe, rogaliki,
                        pieczywo francuskie, groszek ptysiowy, tortille</td>
                    </tr>
                    <tr>
                        <td>WARZYWA: botwinka, seler, bakłażany, brokułu, dynia, 
                        kabaczki, cebula, kapusta, kalafior, pieczarki, cykoria,
                        szparagi, szpinak, sałata, jarmuż, kalarepa, ogórki, 
                        papryka, rzodkiew, grzyby, pomidory, pomidory suszone,
                        por, marchew surowa, kiełki, kapary, kiszonki,
                        nasiona roślin strączkowych (groch, fasola, soja, 
                        soczewica, cieciorka)</td>
                        <td>WARZYWA WYMAAJĄCE KONTROLI: (200 gram lub 2 razy w
                        tygodniu do urozmaicenia sałatek) bruksela, kukurydza, 
                        groszek, buraki gotowane, marchew gotowana</td>
                    </tr>
                    <tr>
                        <td>MIĘSO: Chuda cielęcina, mięso z kurczaka i indyka
                        bez skóry, wołowina, mięso z zająca, królika, chude 
                        wędliny drobiowe, schab pieczony w piekarniku</td>
                        <td>wieprzowina, baranina, gęś, kaczka, boczek, skwarki,
                        tłuste wędlina (salami, kabanosy, mortadela), podroby 
                        (pasztetowa, kaszanka, wątróbka, serca), parówki, konserwy,
                        pasztety</td>
                    </tr>
                    <tr>
                        <td>CHUDE RYBY: dorsz, leszcz, sola, pstrąg, mintaj,
                        tilapia, sieja, morszuk, sandacz, tołpyga, miruna, tuńczyk
                        w sosie własnym, okoń, lin, szczupak, flądra, płastuga, 
                        płoć, dorada, trewal.
                        OWOCE MORZA I INNE: małże, ostygi, kalmary, ośmiornica,
                        kraby, krewetki, lagusta</td>
                        <td>RYBY O ZWIĘKSZONEJ ILOŚCI TŁUSZCZU: łosoś, sardynka,
                        sardela, makrela, śledź, węgorz, karp, halibut. Należy 
                        unikać dań rybnych w oleju oraz ryb wędzonych</td>
                    </tr>
                    <tr>
                        <td>jajka</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OWOCE: czereśnie, wiśnie, śliwki, truskawki, granat,
                        kiwi, mandarynki, jabłka, jagody, maliny, jeżyny, agrest,
                        brzoskiwinie, morele, melon, arbuz, ananas naturalny,
                        pomarańcza, papaja, grejpfrut, mango, pomelo, kaki</td>
                        <td>figi, banany, winogron, awokado, oliwki, kokosy,
                        gruszki, suszone owoce, owoce w syropie, orzechy migdały</td>
                    </tr>
                    <tr>
                        <td>OLEJE I TŁUSZCZE: Dziennie dopuszcza się spżycie max
                        2-4 łyzek oliwy z oliwek, oleju rzepakowego, oleju lnianego</td>
                        <td>Należy unikać potraw smażonych i tłustych. Nie powinno
                        się używać smalcu, masła, margaryny</td>
                    </tr>
                    <tr>
                        <td>SERY: białe chude twarogi, serki kanapkowe, sery 
                        kozie, wiejskie, homogenizowane, mozzarella, feta,
                        bałkańsi</td>
                        <td>żółte, wędzone, topione, pleśniowe</td>
                    </tr>
                    <tr>
                        <td>NAPOJE: woda, herbata zielona, czerwona, biała,
                        napary ziołowe (skrzyp. pokrzywa, czystek itd.)</td>
                        <td>alkohol, gazowane, słodzone, soki owocowe (kupne), 
                        napoje chłodzące, woda smakowa</td>
                    </tr>
                    <tr>
                        <td>PRZYPRAWY: czosnek, cebula, kmin, cytryna, papryka, 
                        pieprz, liść laurowy, oregano, bazylia, ocet winny, 
                        musztarda, chrzan, sól można w niewielkich ilościach! 
                        (niskosodowa, morska, ziołowa, potasowa, wapniowa)</td>
                        <td>majonez, ketchup</td>
                    </tr>
                    <tr>
                        <td>DO SŁODZENIA: syrop z agawy, stewia, ksylitol, miód.
                        Dozwolone słodycze w niewielkich ilościach: kisiel, budyń
                        na chudym mleku, galaretki owocowe</td>
                        <td>Nie wolno spożywać słodyczy w żadnej postaci.
                        Nie wolno spożywać ciast, pączków, wyrobów cukierniczych.
                        Nie wolno spożywać lodów (ewentualnie rzadko 1 x w tyg)</td>
                    </tr>
                    <tr>
                        <td>Mleko do 1,5-2% tłuszczu, kefir, jogurt naturalny,
                        maślanka</td>
                        <td>mleko tłuste, smakowe, skondensowane, jogurty, kefiry, 
                            maślanki smakowe</td>
                    </tr>
                    <tr>
                        <td>gotowanie, grillowanie, pieczenie w folii z małą 
                        ilością tłuszczu, gotowanie na parze, smażenie w niewielkiej
                        ilości tłuszczu, zupy, sosy zabarwione jogurtem naturalnym
                        lub greckim</td>
                        <td>smażenie na głębokim tłuszczu, zup i sosów zaprawianych 
                        mąką i barwionych śmietaną, panierowanie</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}


