{% extends "base_logged.html.twig"%}


{% block content %}
    <div class="container content text-justify">
        <div class="row py-3">
            <div class="col-lg-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis commodo sollicitudin. Aenean vestibulum elit sed tristique vulputate. Aliquam et interdum dolor. Sed turpis orci, euismod quis eros a, dapibus fermentum elit. Nullam lectus lacus, euismod eu tincidunt nec, luctus id odio. Vestibulum sit amet vulputate augue. Quisque sit amet scelerisque diam. Vivamus sagittis lacinia sapien, eget imperdiet nulla rutrum dictum. Ut gravida efficitur condimentum. Vivamus at orci a nisi interdum viverra. Aliquam vulputate diam vitae elementum venenatis.
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-12">
                <ol>
                    <li>Przemyśleć tworzenie posiłków - lepiej byłoby żeby dane do posiłków 
                        były zaciągane i wyliczane z produktów <strong>albo</strong>
                        ograniczyć się tylko do wyliczeń dla posiłku, a produkty ogarniczyć tylko do
                        produktu i policzalności <br>
                        Produkty mogą mieć tylko id | nazwa | policzalność | baza | grupa produktowa </li>
                    <li>Rozbudować tabele produktów</li>
                    <li>Zmienić front do Dodawania posiłków</li>
                    <li>Poprawić stopkę</li>
                    <li>poprawić sposób dodawania więcej składników do posiłku</li>
                    <li>napisać jakieś fikstury jednak</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock content %}


