{% extends 'base_logged.html.twig' %}

{% block content %}
    <div>
        <a href="{{path('meal_new')}}">Dodaj kolejny posiłek</a>
    </div>
    <div>
        <a href="{{path('start')}}">Wróć do strony głównej</a>
    </div>
{% endblock %}