.facebook-button {
    width: max-content;
    background-color: steelblue;
    line-height: 24px;
    color: ghostwhite;
    text-align: center;
    position: relative;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 1px;
    width:250px;
    margin: 0 auto;
    display: table;
}

.facebook-button:hover {
    cursor: default;
    background-color: rgba(245, 245, 245, 1);
    color: black;

    box-shadow: rgba(0, 0, 0, 0.95) 0px 4px 4px;
    animation-name: shadowing;
    animation-duration: 0.1s;
}

@keyframes shadowing{
    0%   {box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 1px;}
    50%  {box-shadow: rgba(0, 0, 0, 0.95) 0px 2px 2px;}
    100% {box-shadow: rgba(0, 0, 0, 0.95) 0px 4px 4px;}
}


.container-background {
    background-color: rgba(90, 76, 76, 0.55);
}

.container-content {
    padding:30px;
}

.container-auth-form {
    max-width: 400px;
    min-width: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 125px;
    margin-left: auto;
    color: rgba(245, 245, 245, 1);
    border: 2px solid;
}
@media only screen and (max-width: 768px) {
    .container-auth-form {
        margin-right: 0;
    }
}

.auth-form-error {
    background-color: rgb(218, 3, 3);
    box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 1px;
    width: 250px;
    margin-bottom: 20px;
    padding: 6px;
    margin: 0 auto 30px;
    min-height: 36px;
}
.auth-form-error>ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.form-symfony {
    text-align: center;
    width: 100%;
    /*color: rgba(245, 245, 245, 1);*/
}

.auth-input {
    width: 250px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid rgba(245, 245, 245, 1);
    height: 36px;
    margin-bottom: 20px;
}

.auth-input:focus {
    outline: none;
    color: inherit;
    font-weight: 600;
    border-bottom: 3px solid;
}

.auth-input::placeholder {
    color: rgba(245, 245, 245, 1);
}

.auth-links {
    /*color: rgba(245, 245, 245, 1);*/
    width: 250px;
    height:36px;
    border: 2px solid rgba(245, 245, 245, 1);
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    display: table;
}
.auth-links:hover {
    background-color: rgba(245, 245, 245, 1);
    color:black;
    box-shadow: rgba(0, 0, 0, 0.95) 0px 4px 4px;
    animation-name: shadowing;
    animation-duration: 0.1s;
}

.submit-auth-form {
    display: none;
}

.auth-a {
    color: rgba(245, 245, 245, 1);
}

.auth-a:hover {
    color: inherit;
}

.auth-span {
    line-height:36px;
}

.auth-element {
    display:table-cell;
}

.auth-i {
    font-size: 20px !important;
}

.auth-div-i {
    width: 40px;
}