.content {
    color:white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-header {
    font-size: 3em;
}

.button {
    width: 200px;
    height: 55px;
    width: 200px;
    height: 55px;
    line-height: 49px;
    border: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(1, 1, 1, 1);
    font-size: 1.2em;
}


.button a {
    display: inline-block;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    transition: color 0.3s;
    vertical-align: middle;
}

.button a:hover {
    color: rgba(1, 1, 1, 1);
}

.button-center {
    margin: 0 auto;
}

.condition-one {
    width: 150px;
    height: 150px;
    border: 3px solid rgba(255,255,255,1);
    background-color: rgba(255,255,255,0);
    border-radius: 50%;
    color: rgba(255,255,255,1);
    font-size: 3em;
    text-align: center;
    transition: border 0.2s;
}

.condition-one:focus {
    outline: none;
    border:7px solid rgba(255,255,255,1);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.condition-two {
    width: 150px;
    height: 150px;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    font-size: 4em;
    transition: border-bottom 0.2s;
}

.condition-two:focus {
    outline: none;
    border-bottom: 7px solid rgba(255, 255, 255, 1);
}

select.ct-meal-product option {
    color:green;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-field {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgba(255, 255, 255, 1);
    padding: 7px 5px;
}

.ct-meal-product {
    width: 400px;
}

.ct-num {
    width:50px;
}

.condition-four {
    margin-left: 50px;
    margin-right: 10px;
}

.error {
    background-color: rgb(218, 3, 3);
    box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 1px;
}

.error>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:inline-block;
}

.form-add-meal .form-field {
    width: inherit;
}

/*.field-description {
    height:100%;
}*/

.form-field-meal-name {
    border: none;
    border-bottom: 3px solid;
    font-size: 1.3em;
    transition: border-bottom 0.3s;
}

.form-field-meal-name:focus {
    outline: none;
    border-bottom: 5px solid;
}

.form-field-enav {
    width: 130px !important;
    height:100px;
    border:none;
    border-bottom: 3px solid;
    border-top: 3px solid;
    font-size:3em;
    text-align: center;
    transition: border-bottom 0.3s, border-top 0.3s;
}

.form-field-enav:focus {
    outline: none;
    border-top: 5px solid;
    border-bottom: 5px solid;
}

.form-field-pcf-row {
    border-top: 3px solid;
}

.form-field-pcf-row input {
    width:100px !important;
    height: 80px;
    font-size: 2em;
    text-align: center;
    transition: border 0.3s;
}

.form-field-pcf-row input:focus {
    outline: none;
    border:5px solid;
} 

.field-description {
    transition: border 0.3s;
}

.field-description:focus {
    outline:none;
    border:5px solid;
}

.product-fields {
    width:250px !important;
}

.border-right {
    border-right: 2px solid;
}

.values-summary {
    font-size: 2em;
}