<div class="row">
    <div class="col-lg-12 px-0">   
        <a href="/register" class="auth-a">
            <div class="auth-links">
                <div class="auth-element auth-div-i">
                    <i class="fa fa-users start-icons auth-i" aria-hidden="true"></i>
                </div>
                <div class="auth-element">
                    <span class="auth-span">ZAREJESTRUJ</span>  
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 px-0">
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook">
            <div class="facebook-button">
                <div class="auth-element auth-div-i">
                    <i class="fa fa-facebook-official auth-i" aria-hidden="true"></i>
                </div>
                <div class="auth-element">
                    <span class="auth-span">Logowanie FB</span>
                </div>
            </div>
        </a>
    </div>
</div>