/*.container{
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        width: 720px;
    width: 100%;
    height:100%;
}
.homepage-divs{
    border:3px solid black;
    float: left;
    align-content: center;
    width: 250px;
    height: 200px;
    padding: 47px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: black;

}
.homepage-divs:hover{
    border-color: grey;
    color: grey;
}
.clearness{
    clear: both;
}
a{
    text-decoration: none;
}

.fos_register_div{
    width:300px;
    margin-left: 210px;
    margin-right:210px;
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
}
.submit{
    border: none;
    background-color: darkgrey;
    color: white;
    width:304px;
    padding: 3px;
}
input{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
input[type=checkbox] {
    visibility: hidden;
}
.checkbox{
    position: relative;
}
.login-div{
    width: 304px;
    height: 25px;
}
.login-div-label{
    margin-left: 80px !important;
    margin-top: 3px;
    margin-bottom: 3px;
}
.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
    margin-left: auto;
}
.checkbox label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.login{
    color: grey;
}
.footer{
    position: absolute;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
    bottom: 0;
    height: 30px;
    width: 100%;
}
.menu-header{
    list-style-type: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0;
    background-color: rgba(133, 34, 42, 1);
    margin-top: 0px;
}
.menu-header-options{
    display: inline;
    margin: 10px;
    text-align: center;
}
.menu-header-options a{
    color: white;
}
.menu-header-options:hover{
    border-bottom: 2px solid;
    border-bottom-color: whitesmoke;
    padding-bottom: 7px;
}
.active{
    border-bottom-color: rgba(210, 201, 201, 1) !important;
    background-color: rgba(93, 8, 14, 1) !important;
}
#container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding-bottom: 50px;  height of footer+his padding
}
#content{
    width:720px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    background-color: whitesmoke;
    opacity: 0.75;
    padding-top: 1px;
    padding-bottom: 1px;
}
.line{
    height: 2px;
    margin-bottom: 3px;
    background: red;
    background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1),rgba(255,0,0,0)); Safari 5.1-6
    background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1),rgba(255,0,0,0)); Opera 11.1-12
    background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1),rgba(255,0,0,0)); Fx 3.6-15
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0)); Standard
}
.form_submit{
    background-color: rgba(133, 34, 42, 1);
}
.form_div{
    margin-left: auto;
    margin-right: auto;
}
.repets_inters{
    width:35px;
}
.expand{
    text-align: right;
}
.description{
    display: none;
    position: fixed;
    text-align: center;
    background-color: white;
    border: 1px solid #000;
    padding: 10px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.table-diet{
    border-collapse: collapse;
    width: inherit;
}
.table-center{
    text-align: center;
}
.without-header:hover{
    background-color: gray;
    opacity: 0.90;
}

.bodyImg{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}
.content_header{
    padding-left: 18px;
    padding-top: 20px;
}
.table-links{
    list-style-type: none;
    padding: inherit;
}
.div-link{
    width: auto;
    margin-bottom: 0;
    margin-left: 210px;
    margin-right: 210px;
}
.link-create-diet{
    color: whitesmoke;
    margin-left: 210px;
    margin-right: 210px;
    width: auto;
    padding: 10px 11.5% 10px 11.5%;
}
.div-link-create-diet{
    padding-top: 10px;
    padding-bottom: 10px;
}
.table-links-color{
    color: black;
}
.summary-table{
    border-bottom: solid 1px;
    margin-bottom: 50px;
}
.summary-table-header{
    background-color: rgba(133, 34, 42, 1);
    color: whitesmoke !important;
}
.summary-table-td-padding{
    padding-bottom: 15px;
    padding-top: 15px;
}
.sidebar{
    position: fixed;
    left: 0px;
}
.sidebar > ul {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
.sidebar > ul > li {
    background-color: rgba(133, 34, 42, 1);
    padding: 10px 10px 10px 10px;
    color: whitesmoke;
    margin: 0px 0px 10px 0px;
}
.shoppinglist-table{
    width: 100%;
}
.shoppinglist-row{
    padding: 5px 10px 5px 10px;
}
.shoppinglist-row-td{
    padding: inherit;
}
.shoppinglist-th-header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.div_paddings{
    padding: 20px 18px 20px 18px;
    text-align: center;
}
.placeholders{
    text-align: center;
}
.sidebar-a{
    color: white;
}
.select {
    width: 304px;
    font-size: inherit;
    height: 24px;
    background-color:whitesmoke;
    color: dimgray;
}
.meal-name {
    width: 304px;
    height: 24px;
    border: solid 1px grey;
}
.meal-description {
    font-size: inherit;
    font-family: inherit;
}

.account {
    position: absolute;
    height: 32px;
    right:10px;
    top:0;
    color: white;
}

.account > span {
    line-height: 32px;
}

.account-a {
    color: wheat;
    font-weight:600;
}*/


.content {
    color:white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-header {
    font-size: 3em;
}

.button {
    width: 200px;
    height: 55px;
    width: 200px;
    height: 55px;
    line-height: 49px;
    border: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(1, 1, 1, 1);
    font-size: 1.2em;
}


.button a {
    display: inline-block;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    transition: color 0.3s;
    vertical-align: middle;
}

.button a:hover {
    color: rgba(1, 1, 1, 1);
}

.button-center {
    margin: 0 auto;
}

.condition-one {
    width: 150px;
    height: 150px;
    border: 3px solid rgba(255,255,255,1);
    background-color: rgba(255,255,255,0);
    border-radius: 50%;
    color: rgba(255,255,255,1);
    font-size: 3em;
    text-align: center;
    transition: border 0.2s;
}

.condition-one:focus {
    outline: none;
    border:7px solid rgba(255,255,255,1);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.condition-two {
    width: 150px;
    height: 150px;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    font-size: 4em;
    transition: border-bottom 0.2s;
}

.condition-two:focus {
    outline: none;
    border-bottom: 7px solid rgba(255, 255, 255, 1);
}

select.ct-meal-product option {
    color:green;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-field {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgba(255, 255, 255, 1);
    padding: 7px 5px;
}

.ct-meal-product {
    width: 400px;
}

.ct-num {
    width:50px;
}

.condition-four {
    margin-left: 50px;
    margin-right: 10px;
}

.error {
    background-color: rgb(218, 3, 3);
    box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 1px;
}

.error>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:inline-block;
}

.form-add-meal .form-field {
    width: inherit;
}

/*.field-description {
    height:100%;
}*/

.form-field-meal-name {
    border: none;
    border-bottom: 3px solid;
    font-size: 1.3em;
    transition: border-bottom 0.3s;
}

.form-field-meal-name:focus {
    outline: none;
    border-bottom: 5px solid;
}

.form-field-enav {
    width: 130px !important;
    height:100px;
    border:none;
    border-bottom: 3px solid;
    border-top: 3px solid;
    font-size:3em;
    text-align: center;
    transition: border-bottom 0.3s, border-top 0.3s;
}

.form-field-enav:focus {
    outline: none;
    border-top: 5px solid;
    border-bottom: 5px solid;
}

.form-field-pcf-row {
    border-top: 3px solid;
}

.form-field-pcf-row input {
    width:100px !important;
    height: 80px;
    font-size: 2em;
    text-align: center;
    transition: border 0.3s;
}

.form-field-pcf-row input:focus {
    outline: none;
    border:5px solid;
} 

.field-description {
    transition: border 0.3s;
}

.field-description:focus {
    outline:none;
    border:5px solid;
}

.product-fields {
    width:250px !important;
}

.border-right {
    border-right: 2px solid;
}