.top-menu {
    background-color: rgba(245, 40, 40, 0.81);
    height: 50px;
    /*margin-top: 228px;*/
    box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 1px;
}

.top-menu a {
    color:white;
}

.top-menu div {
    height: inherit;
    line-height: 50px;
    vertical-align: middle;
}

.top-menu-tile{
    transition: background-color 0.3s;
}

.top-menu-tile:hover {
    background-color: rgba(255, 255, 255, 1);
}

.top-menu-tile a {
    display: block;
}

.top-menu-tile:hover a {
    color:black;
}