{%extends "base_logged.html.twig"%}

{% block content %}
    <div class="container content">
        <div class="row pb-4">
            <div class="col-lg-12 text-center">
                <span class='content-header'>Lista Zakupów</span>
            </div>
        </div>
        {% for partOfMonth in month %}
            {% include 'shoppingList/block/shopping_list_table_template.html.twig' 
                with {'title': partOfMonth.title, 'ingredients':partOfMonth.ingredients} only %}
        {%endfor %}
    </div>
{% endblock content %}