{%extends "base_logged.html.twig"%}

{% block content %}
    <div class="container content">
        <div class="row pb-4">
            <div class="col-lg-12 text-center">
                <span class='content-header'>Lista Zakupów</span>
            </div>
        </div>
        {% for week in month %}
            {% include 'shoppingList/block/week.html.twig'
                with {
                'title': week.title,
                'ingredients': week.ingredients,
                'diet_rule_id': diet_rule_id,
                'week': week.number
            } only %}
        {%endfor %}
    </div>
{% endblock content %}